.counter-badge {
    position: relative;

    display: inline-block;

    flex-grow: 0;
    flex-shrink: 0;

    pointer-events: none;
    cursor: default;
    user-select: none;
    --webkit-user-select: none;
}
.counter-badge.depleted {
    opacity: 0.3;
}


.counter-badge-count {
    width: 20px;
    height: 20px;

    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;

    position: absolute;
    bottom: -2px;
    right: -2px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    background-color: red;
}
