.hand-reserves {
    width: 330px;
    height: 144px;
    margin: auto;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hand-reserves>.slot {
    width: 96px;
    height: 128px;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    border-color: #000;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.hand-reserves>.slot.depleted {
    background-color: rgba(0, 0, 0, .5);
}

.hand-reserves>.slot>.card {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.hand-reserves>.slot>.card>.header {
    width: 100%;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}

.hand-reserves>.slot>.card>.header>.score {
    width: 32px;
    height: 32px;
}

.hand-reserves>.slot>.card>.header>.bonus {
    width: 32px;
    height: 32px;
    padding: 4px;
    background-origin: content-box;
    background-repeat: no-repeat;
}

.hand-reserves>.slot>.card>.cost {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;
    position: relative;
}

.hand-reserves>.slot>.card>.cost>.number {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
