.chat-list {
    width: 100%;
    max-height: 200px;
    min-height: 24px;

    overflow-y: auto;

    border-width: 1px;
    border-style: solid;
    border-color: gray;

    background-color: rgba(0, 0, 0, .75);
}

.chat-list > .item {
    width: 100%;

    margin-bottom: 2px;
    padding: 4px;
}


.chat-list > .item > .date {
    color: lightgray;
}

.chat-list > .item > .author {
    color: gray;
}

.chat-list > .item > .desc {
    color: white;
}
