.supply {
    padding: 8px;

    position: relative;

    display: inline-block;

    flex-grow: 0;
    flex-shrink: 0;

    pointer-events: none;
    cursor: default;
    user-select: none;
    --webkit-user-select: none;
}


.supply.available {
    pointer-events: all;
    cursor: pointer;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);

    transition: ease .2s background-color, box-shadow;
}


.supply.available:hover {
    background-color: rgba(38, 233, 48, 0.5);
    box-shadow: 0 0 8px rgba(38, 233, 48, 0.5);
}


.supply-counter {
    width: 24px;
    height: 24px;

    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: red;
}


.supply-button {
    width: 24px;
    height: 24px;

    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;

    color: rgba(255, 255, 255, 1);
    background: radial-gradient(ellipse, rgb(128, 141, 177) 30%, rgb(39, 52, 72));
}
