.table .card-list {
    width: 720px;

    margin: 32px auto;
}


.table .card-list .row {
    width: 720px;
    height: 160px;

    margin: 32px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table .card-list .row .draw-pile,
.table .card-list .row .card {
    width: 120px;
    height: 160px;

    position: relative;

    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 8px;

    box-shadow: -4px 4px 12px #000;

    overflow: hidden;
}

.table .card-list .row .card.depleted,
.table .card-list .row .draw-pile.depleted {
    opacity: 0.3;
    background-color: rgba(0, 0, 0, .5);
}

.table .card-list .row .draw-pile .counter {
    width: 24px;
    height: 24px;

    padding: 4px 0px;

    font-size: 14px;
    line-height: 14px;
    text-align: center;

    background-color: rgb(190, 24, 24);

    position: absolute;
    top: -8px;
    left: -8px;
}

.table .card-list .row .draw-pile .reserve-button {
    width: 72px;
    height: 48px;

    position: absolute;
    right: 4px;
    bottom: 4px;
}

.table .card-list .row .draw-pile .background,
.table .card-list .row .card .background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}


.table .card-list .row .card .header {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;

    border-radius: 8em 8em 0 0;

    background-color: rgba(255, 255, 255, 0.5);

    position: relative;
}

.table .card-list .row .card .header .score {
    width: 40px;
    height: 40px;
}

.table .card-list .row .card .header .bonus {
    width: 40px;
    height: 40px;

    padding: 6px;

    background-origin: content-box;
    background-repeat: no-repeat;
}

.table .card-list .row .card .header .bonus .gem {
    width: 28px;
    height: 28px;
}


.table .card-list .row .card .costs {
    width: 32px;
    height: 120px;

    margin: 0;
    padding: 4px;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    position: absolute;
    left: 0;
    bottom: 0;
}

.table .card-list .row .card .costs .cost {
    width: 24px;
    height: 24px;

    margin-top: 4px;

    border-width: 1px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;

    position: relative;
}

.table .card-list .row .card .costs .cost .amount {
    width: 100%;
    height: 100%;
}


.table .card-list .row .card .reserve-button {
    width: 72px;
    height: 48px;

    position: absolute;
    right: 4px;
    bottom: 56px;
}


.table .card-list .row .card .buy-button {
    width: 72px;
    height: 48px;

    position: absolute;
    right: 4px;
    bottom: 4px;
}
