.table-card-row-frame {
    width: 684px;

    margin: 0 auto;
    padding-bottom: 12px;

    display: flex;
    justify-content: center;

    flex-shrink: 0;
    flex-grow: 0;
}
.table-card-row-frame-container {
    display: flex;

    flex-shrink: 0;
}

.table-card-row-frame-container::before,
.table-card-row-frame-container::after {
    content: '';

    width: 72px;

    display: block;

    flex-shrink: 0;
}
