:root {
    --left-shelf-bg-color: rgba(0,0,0,.85);
}

.left-shelf {
    padding: 8px 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    overflow-x: visible;
}
.left-shelf::before {
    content: '';

    height: 100%;

    padding: 8px;
    border-radius: 8px;

    position: absolute;
    top: 0;
    left: -8px;

    background-color: var(--left-shelf-bg-color);
    box-shadow: 0 0 3px var(--left-shelf-bg-color);
    box-sizing: border-box;
}
