:root {
    --right-shelf-bg-color: rgba(0,0,0,.85);
}

.right-shelf {
    padding: 8px 0;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.right-shelf::before {
    content: '';

    height: 100%;

    padding: 8px;
    border-radius: 8px;

    overflow-x: visible;

    position: absolute;
    top: 0;
    right: -8px;

    background-color: var(--right-shelf-bg-color);
    box-shadow: 0 0 3px var(--right-shelf-bg-color);
    box-sizing: border-box;
}
