@keyframes animation-player-is-active {
    0% {
        border-color: rgba(4, 154, 254, 0.8);
        background-color: rgba(0, 89, 148, 0.4);
    }

    40% {
        border-color: rgba(0,0,0,0.5);
        background-color: rgba(0, 89, 148, 0.4);
    }

    60% {
        border-color: rgba(0,0,0,0.5);
        background-color: rgba(0, 89, 148, 0.4);
    }

    100% {
        border-color: rgba(4, 154, 254, 0.8);
        background-color: rgba(0, 89, 148, 0.4);
    }
}


.player-frame {
    width: 174px;

    margin: 0 8px;
    padding: 8px;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 4px;

    position: relative;

    flex-grow: 0;

    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.player-frame.is-active {
    padding: 7px;
    border-width: 2px;

    animation-name: animation-player-is-active;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
