:root {
    --sidebar-frame-width: 200px;
    --sidebar-frame-bg-color: rgba(0, 0, 0, 0.85);
}

.sidebar-frame {
    width: var(--sidebar-frame-width);
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-color: var(--sidebar-frame-bg-color);
    box-shadow: -3px 0 3px 0 var(--sidebar-frame-bg-color);
}


.non-sidebar-frame {
    width: 100%;
    height: 100%;

    padding-right: var(--sidebar-frame-width);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.non-sidebar-frame-container {
    width: 100%;
    height: 100%;

    position: relative;
}
